
    <div class="container-fluid py-4" >
      <div class="row ">
        <div class="col-md-4">
            
          <div class="card">
            <div class="col d-flex justify-content-center align-items-center">
            <img src="3135715.png" class="w-15 profil-img">
            </div>
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                
                <p class="mb-0">Edit Profile</p>
                <button class="btn btn-primary btn-sm ms-auto">Settings</button>
              </div>
            </div>
            <div class="card-body" *ngIf="employee">
             
                <div class="row" >
                <div class="col-md">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Username</label>
                    <p class="form-control">{{employee.first_name}} {{employee.last_name}}</p>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Email Adress</label>
                    <p class="form-control">{{employee.email}}</p>
                  </div>
                  
                </div>
              </div>
              
              <div class="row">
                
                <div class="col-md">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Address</label>
                    <p class="form-control">{{employee.address}}</p>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Phone Number</label>
                    <p class="form-control">{{employee.phone_num}}</p>
                  </div>
                </div>
              
              </div>
            
            </div>
          </div>
        </div>
    
        
      </div>
      <footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>
                2024
                <a href="" class="font-weight-bold" target="_blank">TechnoCode</a>
                all right reserved.
              </div>
            </div>
            <div class="col-lg-6">
            
            </div>
          </div>
        </div>
      </footer>
    </div>

