
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Rooms List</h6>
          </div>
          <div class="row " >
            
             <div class="col-md" style="margin-left: 20%;">
              <button type="button" class="btn bg-gradient-success "  data-toggle="modal" data-target="#addRoomModal"  (click)="openModal($event, 'addRoomModal')"><i class="fa-solid fa-plus "></i>   Add Room</button>
               </div>
               <!-- Modal add employee -->
               <div class="modal fade" id="addRoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="addRoomModal">Add Room</h5>
                    <button type="button" class="close" aria-label="Close" (click)="closeModal('addRoomModal' )" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                      <form #addForm="ngForm" (ngSubmit)="onAddRoom(addForm)">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label for="name" class="col-form-label">Name</label>
                              <input type="text" name="name" ngModel class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="category" class="col-form-label">Category</label>
                              <input type="text" name="category" ngModel class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="type" class="col-form-label">Subcategory</label>
                              <input type="type" name="type" ngModel class="form-control">
                            </div>
                           
                            <div class="form-group">
                              <label for="statusMaintenance" class="col-form-label"> Maintenance Status</label>
                              <select class="form-control" name="statusMaintenance" ngModel>
                                <option value="Operational">Operational</option>
                              
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label for="location" class="col-form-label">Location</label>
                              <input type="text" name="location" ngModel class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="capacity" class="col-form-label">Capacity</label>
                              <input type="text" name="capacity" ngModel class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-form-label">Description</label>
                                <input type="text" name="description" ngModel class="form-control">
                              </div>
                            <div class="form-group">
                              <label for="status" class="col-form-label">Status</label>
                              <select name="status" class="form-control" ngModel>
                                <option value="Enabled">Enabled</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="closeModal('addRoomModal')">Close</button>
                          <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                      </form>
                      
                </div>
                </div>
                </div>
            </div>
          <div class="col">
             <div class="form-group">
               <input id="name" class="form-control" type="text" placeholder="Name">
             </div>
           </div>
           <div class="col">
             <button type="submit" class="btn btn-primary "><i class="fa-solid fa-magnifying-glass"></i></button>
           </div>
         </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                 <tr>
                     <th  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Subcategory</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Location</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Capacity</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Maintenance status</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">State</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Edit</th>
                   </tr>
                </thead>
                <tbody>
                 <tr *ngFor="let Room of Rooms">
                     <td  class="text-center text-sm">
                       <div class="d-flex px-2 py-1">
                         <div class="d-flex flex-column justify-content-center">
                           <h6 class="mb-0 text-sm">{{Room.name}}</h6>
                           
                         </div>
                       </div>
                     </td>
                    
                     <td  class="text-center text-sm">
                         <p class="text-xs font-weight-bold mb-0">{{Room.type}}</p>
                        
                       </td>
                       <td  class="text-center text-sm">
                         <p class="text-xs font-weight-bold mb-0">{{Room.location}}</p>
                        
                       </td>
                     <td  class="text-center text-sm">
                      <p class="text-xs font-weight-bold mb-0">{{Room.capacity}}</p>
                      
                    </td>
                   <td  class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success">{{Room.statusMaintenance}}</span>
                  </td> 
                       <td  class="align-middle text-center text-sm">
                         <span class="badge badge-sm bg-gradient-success">{{Room.status}}</span>
                       </td> 
                     
                     <td  class="text-center text-sm">
                                                       <!-- Button trigger modal -->
                                                       <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editEmployeeModal" (click)="openModal($event, 'editEmployeeModal')">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </button> 
                        
                                                    <!-- Modal edit employee -->
                                                    <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit Employee</h5>
                                                            <button type="button" class="close" aria-label="Close" (click)="closeModal('editEmployeeModal')">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            <form>
                                                                <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Account Type</label>
                                                                <input type="text" class="form-control" id="recipient-name" >
                                                                </div>
                                                                
                                                                <div class="form-group">
                                                                <label for="message-text" class="col-form-label">State</label>
                                                                <input type="text" class="form-control" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="message-text" class="col-form-label">Job</label>
                                                                    <input type="text" class="form-control" >
                                                                    </div>
                                                            </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"  (click)="closeModal('editEmployeeModal')">Close</button>
                                                            <button type="button" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                         
                     </td>
                 </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="footer pt-3  ">   
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              © <script>
                document.write(new Date().getFullYear())
              </script>
              2024
              <a href="" class="font-weight-bold" target="_blank">TechnoCode</a>
              all right reserved.
            </div>
          </div>
          <div class="col-lg-6">
          
          </div>
        </div>
      </div>
    </footer>
  </div>

